

body {
    font-family: 'Oswald', sans-serif;
    background: #1a1a1d;
    color: #FFF;
    text-transform: uppercase;
    padding: 10px;
    text-align: center;
    padding-top: 120px;
    
  }
  
  .heart-box{
    background: #ffcdc7;
    padding-top: 10em;
    padding-bottom: 10em;

}

h1{
    font-size: 3em;
    padding-bottom: 1px;
    
}

.heart{
    font-size: 2em;
    color: #5e081e;
}

  